
<!-- <div class="text-center">
   <h1 class="text-info">{{title}}</h1>
</div>

<nav class="navbar">
  <a href="/">Angular Components</a>
</nav> -->


<!-- <app-card></app-card> -->

<!-- <app-bootstrap></app-bootstrap> -->
  
<!-- <app-databind></app-databind> -->

<!-- <app-eventbind></app-eventbind> -->

<!-- <app-eventbind1></app-eventbind1> -->

<!-- <app-product-item></app-product-item> -->

<!-- <app-shopping-cart></app-shopping-cart> -->

<!-- <app-sms-app></app-sms-app> -->

<!-- <app-show-password></app-show-password> -->

<!-- <app-amount-range></app-amount-range> -->

<!-- <app-registration-form></app-registration-form> -->

<!-- <app-ng-if></app-ng-if> -->

<!-- <app-ng-for></app-ng-for> -->

<!-- <app-product></app-product> -->


<!-- <app-pipes></app-pipes> -->

<!-- <app-employee></app-employee> -->

<!-- <app-user-list></app-user-list> -->